.footer{
  min-height: 350px;
  background-color: gold;
  box-shadow: inset 0px 3px 19px 0px black;
}
.footer-container{
  display: flex;
  justify-content: space-around;
  padding-top: 80px ;
}
.footr-container__image{
  max-width: 100px;
  max-height: 100px;
 
}