/* .header{
  display:grid;
  align-content: center;
  padding: 100px 0;
}
.header-navbar{
  display: grid;
  align-items: center;
  justify-content: end;
}
.header-navbar__list{
  list-style: none;
  padding: 0 -10px 0 0;
  margin: 0;
}
.header-navbar__item{
  margin-left: 20px;
}
.header-navbar__link{
  display: block;
    padding: 20px 10px;
    font-size: 18px;
    transition: color 0.5s;
}
.header-content__container,
.header-menu__container{
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.header-content {
  position: relative;
  z-index: 1;
}
.header-logo{
  font-size: 1.5rem;
  letter-spacing: 0.22em;
  display: flex;
  align-items: center;
}
.header-logo__link{
  display: block;
    padding: 20px 20px 20px 0;
}
.header-logo__accent{
  display: inline-block;
  padding: 14px 1px 13px 5px ;
  margin-right: 4px;
}
.header-content{
  position: relative;
  z-index: 1;
}
.header-content__title{
  margin: 0 0 53px;
}
.header-content__buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
.header {
  display: grid;
  align-content: center;
  position: relative;
  padding: 100px 0;
  color: #ffffff;
}


.header-menu {
  position: absolute;
  z-index: 2;
}

.header-menu__container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.header-logo {
  font-size: 1.5rem;
  letter-spacing: 0.22em;
  display: flex;
  align-items: center;
}

.header-logo__link {
  display: block;
  padding: 20px 20px 20px 0;
}

.header-logo__accent {
  display: inline-block;
  padding: 14px 1px 13px 5px;
  margin-right: 4px;
}

.header-navbar {
  display: grid;
  align-items: center;
  justify-content: end;
}

.header-navbar__btn {
  width: 30px;
  height: 22.5px;
  position: relative;
  margin: 25px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header-navbar__btn-row {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.header-navbar__list {
  list-style: none;
  padding: 0 -10px 0 0;
  margin: 0;
}

.header-navbar__item {
  margin-left: 20px;
}

.header-navbar__link {
  display: block;
  padding: 20px 10px;
  font-size: 18px;
  transition: color 0.5s;
}

.header-content {
  position: relative;
  z-index: 1;
}

.header-content__title {
  margin: 0 0 53px;
}

.header-content__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}