
.header {
 padding: 50px 20px;
 background-color: rgb(115, 13, 115);
}

.header-menu__container{
  display: flex;
  min-height: 350px;
  justify-content: space-between;
  padding: 0 30px ;
}
.header-logo{
  align-items: flex-start;
}
.header-navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}
.header-navbar__list{
  display: flex;
}
.header-navbar__link {
  padding: 10px 20px;
  font-size: 40px;
  color:gold;  
  box-shadow: 1px 1px 5px 1px  rgb(87, 40, 100);
  border-radius: 50px;
  font-family: 'Luxurious Roman', cursive;
}

.header-content {
  position: relative;
  z-index: 1;
}
.header-content__title,h1 {
  font-size: 80px;
  color: goldenrod;
  text-align: center; 
  font-family: 'Luxurious Roman', cursive;
}
.header-navbar__link:hover{
  color: goldenrod;
  background-color: rgba(200, 126, 200,0.2);
  transition: color,border,background-color, 0.5s;
  transition: border, 0.5s;

}