
.header {
  padding: 50px 20px;
 background-color: red;
}

.header-menu__container{
  display: flex;
  min-height: 350px;
  justify-content: space-between;
  padding: 0 30px ;
}
.header-logo{
  align-items: flex-start;
}
.header-navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}
.header-navbar__list{
  display: flex;
}
.header-navbar__link {
  padding: 10px 20px;
  font-size: 20px;
  transition: color 0.5s;
  
}

.header-content {
  position: relative;
  z-index: 1;
}
