*{
	box-sizing: border-box;
	font-size: 30px;
	font-weight: 200	;
	font-family: 'Quicksand', sans-serif;
}
a{
	text-decoration: none;
}
li {
	list-style-type: none; /* Убираем маркеры */
 }
.training-table__image{
  max-height: 150px;
	max-width: 200px;	
}
/* th,td{
	padding: 20px;
} */
table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	text-align: left;
	border-collapse: separate;
	border-spacing: 5px;
	background: #ECE9E0;
	color: #656665;
	border: 16px solid #ECE9E0;
	border-radius: 20px;
	}
	th {
	font-size: 18px;
	padding: 10px;
	}
	td {
	background: #F5D7BF;
	padding: 10px;
	text-align: center;
	}
	main{
		box-shadow: inset 0px 3px 19px 0px black;
	}
	.titel{
		text-align: center;
		font-size: 35px;
		color: goldenrod;
		font-family: 'Luxurious Roman', cursive;
	}
	
.contact,.about,.skills,.examples,.training{
	padding: 10px 10px;
	background-color:  rgba(115, 13, 115,0.8);
}
.skills-container__item{
	padding-bottom: 5px;
}
.examples-container__gallery{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 60px;
}
.examples-container__gallery--item{
	width: 650px;
	height: 500px;
	border-radius:10px;
	
}