*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
li {
	list-style-type: none; /* Убираем маркеры */
 }
.training-table__image{
  max-height: 150px;
	max-width: 200px;	
}
/* th,td{
	padding: 20px;
} */
table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	text-align: left;
	border-collapse: separate;
	border-spacing: 5px;
	background: #ECE9E0;
	color: #656665;
	border: 16px solid #ECE9E0;
	border-radius: 20px;
	}
	th {
	font-size: 18px;
	padding: 10px;
	}
	td {
	background: #F5D7BF;
	padding: 10px;
	text-align: center;
	}
	
main,footer{
  padding: 40px;
}